apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.name" . }}
  labels:
    {{- include "app.labels" $ | nindent 4 }}
  {{- with .Values.additionalAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "app.selectorLabels" $ | nindent 6 }}
  # For now Arcane Operator supports only single replica
  replicas: 1
  # The deployment strategy is hardcoded as well until the Arcane Operator is able to work in HA mode
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "app.labels" $ | nindent 8 }}
      {{- with .Values.additionalAnnotations }}
      annotations:
        deployment/date: {{ now }} # Force redeployment
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "app.serviceAccountName" . }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }} 
      containers:
      - name: arcane-operator
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        image: "{{ include "app.image" . }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        livenessProbe:
          httpGet:
            port: {{ .Values.settings.probes.port }}
            path: /health
          initialDelaySeconds: 10
          timeoutSeconds: 5
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 10
        readinessProbe:
          httpGet:
            port: {{ .Values.settings.probes.port }}
            path: /health/ready
          initialDelaySeconds: 10
          timeoutSeconds: 5
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 10
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: {{ .Values.environment }}
          - name: APPLICATION_VERSION
            value: "{{ (default (printf "v%s" .Chart.AppVersion) .Values.image.tag) }}"
          - name: ARCANE_OPERATOR__PROBES__ADDR
            value: {{ .Values.settings.probes.listenAddrOverride | default (printf "0.0.0.0:%v" .Values.settings.probes.port) }}
          - name: ARCANE_OPERATOR__PROBES__WRITE_TIMEOUT
            value: {{ .Values.settings.probes.writeTimeout | default  "15s"}}
          - name: ARCANE_OPERATOR__PROBES__READ_TIMEOUT
            value: {{ .Values.settings.probes.writeTimeout | default  "15s"}}
          - name: ARCANE_OPERATOR__PROBES__SHUTDOWN_TIMEOUT
            value: {{ .Values.settings.probes.writeTimeout | default  "5s"}}
          - name: ARCANE_OPERATOR__TELEMETRY__CLUSTER_NAME
            value: {{ .Values.settings.telemetry.clusterName | default  "arcane-cluster"}}
          - name: ARCANE_OPERATOR__TELEMETRY__LOG_LEVEL
            value: {{ .Values.settings.telemetry.logLevel | default  "info"}}
      {{- if .Values.datadog.enabled }}
          - name: DATADOG__API_KEY
            valueFrom:
              secretKeyRef:
                name: {{ .Values.datadog.apiKeySecret | quote }}
                key: {{ .Values.datadog.apiKeySecretKey | quote }}
          - name: DATADOG__ENDPOINT
            value: {{ .Values.datadog.endpoint | quote }}
          - name: DATADOG__APPLICATION_HOST
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        {{- if .Values.datadog.enableOriginDetection }}
          - name: DD_ENTITY_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
        {{- end }}
        {{- if .Values.datadog.tracer.enabled }}
          - name: DD_INSTRUMENTATION_TELEMETRY_ENABLED
            value: {{ not .Values.datadog.tracer.disable_vendor_telemetry | quote }}
          - name: DD_TRACE_ENABLED
            value: {{ .Values.datadog.tracer.enabled | quote }}
          - name: DD_TRACE_AGENT_URL
            value: {{ .Values.datadog.tracer.agent_url | quote }}
          - name: DD_ENV
            value: {{ .Values.datadog.tracer.service_env | quote }}
        {{- end }}
          - name: DATADOG__SERVICE_NAME
            value: {{ .Values.datadog.serviceName }}
          - name: DD_SERVICE
            value: {{ .Values.datadog.serviceName }}
          - name: DD_VERSION
            value: "{{ (default (printf "v%s" .Chart.AppVersion) .Values.image.tag) }}"
          - name: DD_DOGSTATSD_URL
            value: {{ .Values.datadog.statsdUrl | quote }}
      {{- end }}
          {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- if .Values.extraEnvFrom }}
        envFrom:
          {{- with .Values.extraEnvFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- end }}
        volumeMounts:
          {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
      volumes:
          {{- with .Values.extraVolumes }}
            {{- toYaml . | nindent 8 }}
          {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
